header {
    padding: 16px;
    display: flex;
    color: #90aac7;
    flex-flow: row wrap;
    background-color: $brand-header;
    justify-content: space-between;
    @include transition(position 350ms ease-in);
    @include shadowDepth(2);
    .header-title {
        color: $header-title;
        line-height: 1.5;
        position: relative;
        left: 50px;
        font-size: $font-size-md;
        font-weight: $font-weight-boldest;
    }
    .float-btn {
        background-color: $brand-accent;
        position: absolute;
        bottom: -35px;
        right: 60px;
    }
    .header__item {
        position: relative;
        margin-right: 20px;
    }
    .header__side {
        display: flex;
        align-self: center;
    }
}

.header-title_image {
    position: relative;
    &::before {
        position: absolute;
        content: ' ';
        top: -4px;
        left: -49px;
        height: 60px;
        width: 60px;
        background-size: contain;
        @include image-url('logo.png');
    }
}
