.profile {
    position: absolute;
    padding: 0;
    top: 40px;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(11,22,33, .5);
}

.profile-icon {
    font-size: $font-size-md;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
}
